<div class="edit__btn" id="edit__btn">
    <span></span>
    <span></span>
    <span></span>
    <div class="modal" id="modal">
        <div class="module__window ">
            <a href="/edit"><button>Edit</button></a>
            <a href=""><button>Delete</button></a>
        </div>   
    </div>
</div>