<header>
    <div class="header__container base__container">
        <div class="header__logo">
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="header__search">
            <form  action="">
                <img src="/img/icons/search.svg" alt="">
                <input type="text" placeholder="Search">
            </form>
        </div>
        <ol class="header__nav">
            <li><a href="/">Home</a></li>
            <li><a href="/product">Procucts</a></li>
            <li><a href="/new">Add product</a></li>
        </ol>
    </div>
    <div class="breadCrumb base__container">
      <a href="/">Home</a> <a href="<%= url %>"><%= name %></a>
    </div>
</header>