<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs', {title: 'Procucts'}) %>
<body>
    <%- include('components/header.ejs', {name: 'Procucts', url: '/product'}) %>
    <div class="products__container base__container">
        <div class="sections__header">
            <h1>Cheirs </h1> 
            <a href="/new">
                <div class="btn__add__product"> 
                    <img src="/img/icons/add-btn.png" alt=""> Add product
                </div>
            </a>
        </div>
        <div class="products__list">
            <% products.forEach(product => { %> <!-- Открываем блок для JavaScript -->
                <%- include('./components/productCard.ejs', {product: product}) %> <!-- Рендерим компонент с продуктом -->
            <% }); %> <!-- Закрываем блок -->
        </div>
    </div>
</body>
</html>