<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs', {title: 'Product page'}) %>
<body>
    <%- include('./components/header/header.ejs', {}) %>
    
    <div class="product__page__container base__container"> 

    </div>
</body>
</html>