<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs', {title: 'Products'}) %>
<body>
    <%- include('./components/header/header.ejs') %>
    <div class="products__container base__container">
        <div class="sections__header">
            <h1>Cheirs</h1>
            <div>
                <%- include('./components/createProductBtn/createProductBtn.ejs') %>
            </div>
        </div>
        <div class="products__list">
            <% products.forEach( product => {%>
                <%- include('./components/productCard/productCard.ejs', {product: product}) %>
            <% } ) %>
        </div>
    </div>
</body>
</html>