<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs', {title: 'Wishlist'}) %>
<body>
    <%- include('./components/header/header.ejs') %>
    <div class="add__product__container base__container"> 
        
    </div>
</body>
</html>