<header></header>
    <div class="header__container base__container">
        <div class="header__logo">
            <img src="/images/logo.svg" alt="">
        </div>
        <div class="header__search">
            <form  action="">
                <img src="/images/icons/search.svg" alt="">
                <input type="text" placeholder="Search">
            </form>
        </div>
        <ol class="header__nav">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Procucts</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/cart">Cart</a></li>
        </ol>
    </div>
    <div class="breadCrumb base__container">

    </div>
</header>