<div class="form__container">
    <input type="text" placeholder="Product name">
    <input type="text" placeholder="Price">
    <input type="text" placeholder="Discount">
    <input type="text" placeholder="Images URL">
    <button class="btn__add"><%= button %></button>
</div>