header {
    padding: 20px 5%;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-logo {
    width: 10%;
}

.head-menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsla(0,0%,100%,.6);
}

.head-serch {
    width: 50%;
    height: 33px;
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 8px;

}

.head-serch button {
    display: flex;
    align-items: center;
}
.head-serch > button > svg > path {
    fill: rgba(255, 255, 255, .6);
}
.head-serch input {
    width: 95%;
    padding: 5px;
    color: #fff;
}

.head-buttons a {
    color: hsla(0,0%,100%,.6);
    font-size: 16px;
}