    <header>
        <div class="header-container base-container">
            <div class="header-logo">
                Decode Blog
            </div>
            <div class="header-search">
                <div class="search">
                    <input type="text" placeholder="Поиск по блогам">
                    <button>
                        Найти
                    </button>
                </div>
            </div>
            <div class="sign-up-in">
                <button>Регистрация</button>
                <button>Вход</button>
            </div>
        </div>
    </header>