    <header>
        <div class="header-container base-container">
            <div class="header-logo">
                Decode Blog
            </div>
            <div class="header-search">
                <div class="search">
                    <input type="text" placeholder="Поиск по блогам">
                    <button>
                        Найти
                    </button>
                </div>
            </div>
            <div class="sign-up-in">
                <div style="visibility: visible;" class="btn-container">
                    <button class="sign-up">Регистрация</button>
                    <button class="sign-in">Вход</button>
                </div>
            </div>
        </div>
    </header>