<div class="form__container">
    <input type="text" placeholder="Products name">
    <input type="text" placeholder="Products price">
    <input type="text" placeholder="Discount">
    <input type="text" placeholder="Images URL">
    <button><%= title %></button>
</div>