<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'New'}) %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="new__product__container base__container base__padding">
        <div class="sections__header">
            <h1>Add new product</h1>
        </div>
        <%- include('./partials/form.ejs', {title: "Add new product"}) %>
    </div>
</body>
</html>