<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Home'}) %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="main base-container">
        <div class="main-container">
            <div class="posts">
                <div class="section-header">
                    <h1>Блоги по программированию</h1>
                    <p>Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
                </div>
                <div class="posts-list">
                    <div class="post-item">
                        <div class="post-img">
                            <img src="" alt="">  
                        </div>
                        <div class="post-description">
                            <div class="post-title">
                                <h1>Обзор Report Manager от Webix</h1>
                                <p>Осень 2020 года стала плодотворным временем для специалистов Webix. </p>
                                <p>
                                    Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. 
                                    Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете 
                                    Вы можете найти в статье. Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим ег
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="side-bar">helo</div>
        </div>
    </div>
</body>
</html>