<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: "Edit"}) %>
<body>
    <div class="container mt-3">
        <h2>Edit task</h2>
        <div class="container mt-3">
            <a href="/"><button class="btn btn-secondary">Back</button></a>
            <h2>Add new task</h2>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Task title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Task title">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Task description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button class="btn btn-primary">Edit Task</button>
        </div>
    </div>
</body>
</html>